body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
}
.walppaper{
    position: fixed; /* Trava a imagem na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Manda a imagem para TRÁS de tudo */
}
.walppaper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem preencher sem esticar */
    opacity: 0.7;
}
.back-title{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(80, 200, 120, 0.7);
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: azure;
    font-family: 'silkscreen';
    z-index: -1;
    animation: janela linear forwards;
    animation-timeline: scroll();
}
@keyframes janela {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
        border-radius: 0px 0px 600px 600px;
        height: 13%;
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
.titulo-principal{
    text-align: center;
    margin-top: 22%;
    color: azure;
    font-family: 'silkscreen';
    animation: flutuar 3s ease-in-out infinite;
}
@keyframes flutuar {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
.conversa{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    margin-top: 100%;
    padding: 50px;
    gap: 0px;
}
.conversa img{
    width: 350px;
    height: 350px;
    margin: 0 auto;
}
.dialogo{
    display: flex;
    position: relative;
    margin: 0;
    max-width: 700px;
    max-height: 350px;
    background-color: transparent;
}
.dialogo2{
    display: flex;
    position: relative;
    margin: -20% 0% 0% 68%;
    max-width: 700px;
    max-height: 350px;
    background-color: transparent;
}
.balao, .balao2, .balao3, .balao4, .balao5, .balao6, .balao7, .balao8{
    position: absolute;
}
.balao{
    left: 45%;
    bottom: 30%;
}
.balao2{
    right: 58%;
    bottom: 40%;
}
.dialogo p{
    display: block;
    width: 200px;
    position: absolute;
    top: -5%;
    left: 65%;
    font-family: 'silkscreen';
    text-align: center;
    font-size: 13px;
}
.dialogo2 p{
    display: block;
    width: 200px;
    position: absolute;
    top: -10%;
    right: 80%;
    z-index: 1;
    font-family: 'silkscreen';
    text-align: center;
    font-size: 13px;
}
.texto-explicativo{
    background-color:  rgba(80, 200, 120, 0.7);
    margin-top: 10%;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    font-family: 'silkscreen';
    font-size: 12px;
    animation: aparece linear forwards;
    animation-timeline: scroll();
}
@keyframes aparece{
    0%{
        opacity: 0;
        transform: scaleX(0);
    }
    70%{
        opacity: 0.8;
        transform: scaleX(0);
    }
    80%{
        opacity: 1;
        transform: scaleX(1);
    }
    90%{
        opacity: 1;
        transform: scaleX(1);
    }
    95%{
        opacity: 0;
        transform: scaleX(0);
    }
    100%{
        opacity: 0;
        transform: scaleX(0);
    }
}
.titulo-principal2{
    text-align: center;
    margin-top: 25%;
    width: 100%;
    height: 60%;
    font-family: 'silkscreen';
    color: azure;
    animation: flutuar 3s ease infinite;
}